@font-face {
  font-display: swap;
  font-family: "SpecialSpeedAgent";
  src: 
    url("../assets/fonts/Special-Speed-Agent.eot");
  src: 
    url("../assets/fonts/SpecialSpeedAgent.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/SpecialSpeedAgent.woff") format("woff"),
    url("../assets/fonts/SpecialSpeedAgent.woff2") format("woff2"),
    url("../assets/fonts/SpecialSpeedAgent.ttf")  format("truetype"),
    url("../assets/fonts/SpecialSpeedAgent.svg#SpecialSpeedAgent") format('svg');
}

@font-face {
  font-display: swap;
  font-family: "RaceSport";
  src: 
    url("../assets/fonts/RaceSport.eot");
  src: 
    url("../assets/fonts/RaceSport.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/RaceSport.woff") format("woff"),
    url("../assets/fonts/RaceSport.woff2") format("woff2"),
    url("../assets/fonts/RaceSport.ttf")  format("truetype"),
    url("../assets/fonts/RaceSport.svg#RaceSport") format('svg');
}

:root {
  font-family: 'SpecialSpeedAgent', RaceSport, system-ui, sans-serif;
  line-height: var(--default-line-height);
  font-weight: 400;
  color: white;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --root-padding: 1rem;
  --car-width: 5rem;
  --car-controls-w: 5rem;
  --btn-border-w: 1px;
  --line-border-w: 1px;
  --track-offset: calc(100vw - var(--car-controls-w) - var(--car-width) - (var(--root-padding) * 2) - (var(--btn-border-w) * 4) - (var(--line-border-w) * 4));
  --btn-text-primary-color: aqua;
  --btn-text-secondary-color: aquamarine;
  --default-line-height: 1.5rem;
}

/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table, th, td {
  border: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}

/* ***** */

#root {
  padding: var(--root-padding);
  display: flex;
  flex-direction: column;
}

body {
  display: block;
  width: 100vw;
}

.sort-icon-position {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.sort-column {
  cursor: n-resize;
}
